/* 签到毕业典礼样式 */
.signWrap.bydl .bg {
background-image: url("https://static.joymew.com/joymewMp/joymewIndex/bydlBg.png");
}

.signWrap.bydl .bg::after {
content: "";
display: block;
width: 100%;
height: 253px;
position: absolute;
bottom: 0;
background-image: url("https://static.joymew.com/joymewMp/joymewIndex/bydlDeco.png");
background-size: 100% 100%;
}

.signWrap.bydl .signForm {
background-color: #dbfafe;
}

.signWrap.bydl .signForm .formItem {
align-items: center;
}

.signWrap.bydl .signForm .formItem .formItem-key {
color: #333;
width: 135px;
}

.signWrap.bydl .signForm .formItem .formItem-value {
color: #333;
border-bottom: 1px solid rgba(51, 0.6);
}

.signWrap.bydl .signForm .buttonWrap .signButton {
background: #54d5e9;
border-radius: 45px;
} 