/* 签到寿宴样式 */
.signWrap.sy .bg {
background-image: url('https://static.joymew.com/joymewMp/joymewIndex/syMobileBg4.png');
background-size: cover;
background-position-y: -180px;
background-repeat: no-repeat;
}
.signWrap.sy .bg::before {
display: block;
content: "";
background-size: 100% 100%;
background-image: url("https://static.joymew.com/joymewMp/joymewIndex/lantern.png");
width: 100%;
height: 278px;
position: absolute;
top: 0;
}


.signWrap.sy .signForm {
background-color: #cf1820;
}
.signWrap.sy .signForm::before {
display: block;
content: "";
background-size: cover;
background-image: url('https://static.joymew.com/joymewMp/joymewIndex/syMobileBg4.png');
width: 750px;
height: 400px;
position: absolute;
left: -50px;
bottom: -433px;
background-position-y: -800px;
}

.signWrap.sy .signForm .formItem {
align-items: center;
}

.signWrap.sy .signForm .formItem .formItem-key {
color: #fff;
width: 135px;
}
.signWrap.sy .signForm .formItem .formItem-value {
color: #fff;
border-bottom: 1px solid #cc8c8c;
}

.signWrap.sy .signForm .buttonWrap .signButton {
background: #fddd97;
border-radius: 45px;
} 